h2 {
    font-family: Georgia;
}

.top {
    background-color: lightblue;
    border-radius: 25px;
    padding-left: 11px;
    padding-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}

a {
    font-size: 18px; 
}

.class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5%;
}

.map {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 45%;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 50px;
}

.calendar {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 45%;
    position: absolute;
    width: 600px;
    height: 350px;
    top: 100px;
    right: 50px;
}

.post{
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 45%;
    position: absolute;
    width: 600px;
    height: 100px;
    top: 500px;
    right: 50px;
}

.eventTitle {
    padding: 11px;
    position: absolute;
    top: 100px;
    left: 75px;
}
