h2 {
    font-family: Georgia;
}

.top {
    background-color: lightblue;
    border-radius: 25px;
    padding-left: 11px;
    padding-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}

a {
    font-size: 18px; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 0 0 18%;
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    height: 200px;
}

.text-item {
    display: flex;
    border-radius: 25px;
}

.class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5%;
}
