p {
    font-family: sans-serif;
    font-size: 20px;
}

h2 {
    font-family: sans-serif;
}


.pfp {
    border-radius: 50%;
}
.bar {
    /*color: rgba(55, 21, 21, 0.9);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2em);
    overflow: hidden;*/
    /*padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    background-color: #118ab2;
            color: black;
            padding: 10px 20px;
            display: flex;
            align-items: center;
}
.logo {
    margin-right: auto;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu li a:hover {
    text-decoration: underline;
}
.top {
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}

a {
    font-size: 20px;
    
}


.dash {
    margin: 2%;
    padding: 0px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(183, 131, 213);
    justify-content: center;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
    
}

.creators {
    display: flex;
    flex-wrap: wrap;
}

.person {
    width: 50%;
    display: flex;
}