h2 {
    font-family: sans-serif;
}

.pfp {
    border-radius: 50%;
}
.bar {
    /*color: rgba(55, 21, 21, 0.9);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2em);
    overflow: hidden;*/
    /*padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    background-color: #118ab2;
            color: black;
            padding: 10px 20px;
            display: flex;
            align-items: center;
}
.logo {
    margin-right: auto;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu li a:hover {
    text-decoration: underline;
}
.top {
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.friends-item {
    flex: 0 0 10%;
    background-color: white;
    border-radius: 25px;
    margin-right: 4%;
    margin-left: 4%;
    padding: 11px;
    height: 220px;
}

a {
    font-size: 18px;
    
}



.flex-item {
    flex: 0 0 25%;
    background-color: lightblue;
    border-radius: 25px;
    margin: 5%;
    padding: 11px;
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
}

.friendList {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 45%;
    position: absolute;
    width: 500px;
    height: 350px;
    top: 200px;
    left: 25px;
}

.class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5%;
}

.friends {
    background-color: #ffd166;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
    width: 45%;
}

.leader {
    background-color: #ef476f;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
    width: 45%;
}

.page {
    display: flex;
    justify-content: center;
}

.table h2, .pets h2, .friends h2, .leader h2 {
    margin-top: 0;
}

.table table, .leader table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td, .leader th, .leader td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}