<<<<<<< HEAD
h2 {
    font-family: sans-serif;
}

.bar {
    /*color: rgba(55, 21, 21, 0.9);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2em);
    overflow: hidden;*/
    /*padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    background-color: #118ab2;
            color: #fff;
            padding: 10px 20px;
            display: flex;
            align-items: center;
}
.logo {
    margin-right: auto;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu li a:hover {
    text-decoration: underline;
}
.top {
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}


a {
    font-size: 18px; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #06d6a0;
    justify-content: center;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
    
}

.flex-item {
    flex: 0 0 10%;
    background-color: white;
    border-radius: 25px;
    
    padding: 11px;
    height: 300;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
}

.class {
    
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 5%;
    width:33%;
}

.dash {
    margin: 4%;
    padding: 11px;
=======
h2 {
    font-family: sans-serif;
}

.bar {
    /*color: rgba(55, 21, 21, 0.9);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2em);
    overflow: hidden;*/
    /*padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    background-color: #118ab2;
            color: #fff;
            padding: 10px 20px;
            display: flex;
            align-items: center;
}
.logo {
    margin-right: auto;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu li a:hover {
    text-decoration: underline;
}
.top {
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}


a {
    font-size: 18px; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #06d6a0;
    justify-content: center;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
    
}

.flex-item {
    flex: 0 0 10%;
    background-color: white;
    border-radius: 25px;
    
    padding: 11px;
    height: 300;
    border-radius: 25px;
    margin: .5%;
    padding: 11px;
}

.class {
    
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 5%;
    width:33%;
}

.dash {
    margin: 4%;
    padding: 11px;
>>>>>>> 15465c4ce90553b6d927df5d9dd2609d91dc8249
}