<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
  <title>Eureka!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
        <link rel="stylesheet" href="style.css">
        
      </head>
      <body>
        
    <div class="bar">
        <div class="logo">
            <!-- Replace 'logo.png' with the path to your logo -->
            <a href="eureka.html"><img src="EUREKA!.png" alt="Logo" style="height: 70px;"></a>
        </div>
        <ul class="menu">
            <li><a href="events.html">Find Eurekas</a></li>
            <li><a href="pets.html">Pets</a></li>
            <li><a href="#">Friends</a></li>
        </ul>
    </div>


            
            <br>

        <div class="dash"> 
            
            <div class="table"> 
                <h2> Eurekas Near You: </h2>
                    <table style="width:100%">
                        <tr>
                          <th style="width:20%">Name</th>
                          <th style="width:20%">Distance</th>
                          <th style="width:20%">Type of Eureka</th>
                          <th style="width:20%">Start time</th>
                          <th style="width:20%">End time</th>
                        </tr>
                        <tr>
                          <td>name #1</td>
                          <td>distance #1</td>
                          <td>type #1</td>
                          <td>start time #1</td>
                          <td>end time #1</td>
                        </tr>
                        <tr>
                          <td>name #2</td>
                          <td>distance #2</td>
                          <td>type #2</td>
                          <td>start time #2</td>
                          <td>end time #2</td>
                        </tr>
                        <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                          <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                          <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                          <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                          <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                          <tr>
                            <td>name #2</td>
                            <td>distance #2</td>
                            <td>type #2</td>
                            <td>start time #2</td>
                            <td>end time #2</td>
                          </tr>
                      </table>
                </p>
            </div>


            <div class="pets">
                <h2> Pets: </h2>
                <div class="flex-container">
                    <div class="flex-item">
                        <h2>Pet1</h2>
                        <img src = "1.png" width="175" height="175", style="border-radius: 25%">
                        <p>NAME<br>text here</p>
                    </div>
                    <div class="flex-item">
                        <h2>Pet 2</h2>
                        <img src = "2.png" width="175" height="175", style="border-radius: 25%">
                        <p>NAME<br>text here</p>
                    </div>
                    
                </div>
            </div>

            <div class="friends">
                <h2> Friends: </h2>
                <p> blah </p>
            </div>

            <div class="leader">
                <h2> Leaderboard: </h2>
                <table style="width:100%">
                    <tr>
                      <th style="width:10%">Rank</th>
                      <th style="width:70%">Name</th>
                      <th style="width:20%">Points</th>
                    </tr>
                    
                    <tr>
                        <td>#1</td>
                        <td>Name</td>
                        <td align="center">22</td>
                        
                      </tr>
                      <tr>
                        <td>#2</td>
                        <td>Name</td>
                        <td align="center">22</td>
                        
                      </tr>
                      <tr>
                        <td>#3</td>
                        <td>Name</td>
                        <td align="center">22</td>
                        
                      </tr>
                      <tr>
                        <td>#4</td>
                        <td>Name</td>
                        <td align="center">22</td>
                        
                      </tr>
                      <tr>
                        <td>#5</td>
                        <td>Name</td>
                        <td align="center">22</td>
                        
                      </tr>
                  </table>
            </div>
    <footer>
        <p> Created by: Eric Liang, Zoya Brahimzadeh, Jin Cho, Kimmy Nguyen</p>
    </footer>
        </div>
      </body>
</html>
