<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
  <title>Eureka!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
      </head>
      <body>
        
    <div class="bar">
        <div class="logo">
            <!-- Replace 'logo.png' with the path to your logo -->
            <a href="/eureka/"><img src="{% static 'EUREKA!.png' %}" alt="Logo" style="height: 70px;"></a>
        </div>
        <ul class="menu">
          <li><a href="/about">About</a></li>
            <li><a href="/events">Find Eurekas</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/friends">Friends</a></li>
            <div>
              <a href="/login"><img src="{% static 'pfp.png' %}" style="height:30px; border-radius:50%" ></a>
            </div>
        </ul>
    </div>


            
            <br>

        <div class="dash"> 
            
          <div class="table"> 
            <h2> Eurekas Near You: </h2>
                <table style="width:100%">
                    <tr>
                      <th style="width:20%">Name</th>
                      <th style="width:20%">Distance</th>
                      <th style="width:20%">Type of Eureka</th>
                      <th style="width:20%">Start time</th>
                      <th style="width:20%">End time</th>
                    </tr>
                    {% for x in eureka_dict %}
                    <tr>
                        <td> {{x.activity_name}} </td>
                        <td> {{x.activity_name}} </td>
                        <td> {{x.rewarded_pet_type}}</td>
                        <td> {{x.start_time}} </td>
                        <td> {{x.end_time}} </td> 
                    </tr>
                    {% endfor %}
  </table>
            </p>
        </div>


            <div class="pets clickable-div">
              <h2> Pets: </h2>
              <div class="flex-container ">
                  <div class="flex-item">
                      <h2>Natura</h2>
                      <img src = "{% static '1.png' %}" width="175" height="175", style="border-radius: 25%">
                      <p>Unlocked on April 2nd, 2024</p>
                  </div>
                  <div class="flex-item">
                      <h2>Sucra</h2>
                      <img src = "{% static '2.png' %}" width="175" height="175", style="border-radius: 25%">
                      <p>Unlocked on April 4th, 2024</p>
                  </div>
                  <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const clickableDivs = document.querySelectorAll(".clickable-div");
                        clickableDivs.forEach(div => {
                            div.addEventListener("click", function() {
                                window.location.href = "/pets/"; // Change to the desired HTML file
                            });
                        });
                    });
                </script>
                  
              </div>
          </div>

            <div class="friends clickable-div">
                <h2> Friends: </h2>
              <div class="flex-container ">
                  <div class="friends-item">
                      <h2>@Meowmeow</h2>
                      <img src = "{% static 'kit.jpg' %}" width="175" height="175", style="border-radius: 25%">
                  </div>
                  <div class="friends-item">
                      <h2>@MrRaccoon</h2>
                      <img src = "{% static 'raccoon.jpg' %}" width="175" height="175", style="border-radius: 25%">
                  </div>
                  <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const clickableDivs = document.querySelectorAll(".clickable-div");
                        clickableDivs.forEach(div => {
                            div.addEventListener("click", function() {
                                window.location.href = "/friends"; // Change to the desired HTML file
                            });
                        });
                    });
                </script>
                  
              </div>
            </div>

            <div class="leader">
                <h2> Leaderboard: </h2>
                <table style="width:100%">
                    <tr>
                      <th style="width:10%">Rank</th>
                      <th style="width:70%">Name</th>
                      <th style="width:20%">Points</th>
                    </tr>
                    
                    <tr>
                      <td>1</td>
                      <td>MrRaccoon</td>
                      <td align="center">45</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>cool_gamer</td>
                      <td align="center">32</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>BANALUVR</td>
                      <td align="center">27</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>techgeek</td>
                      <td align="center">18</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>mastermind</td>
                      <td align="center">50</td>
                    </tr>
                    
                  </table>
            </div>
            <footer>
              <p> Created by: 
              <a href = "https://www.linkedin.com/in/zoya-brahimzadeh-b1169b232/" > Zoya Brahimzadeh,</a> 
              <a href = "https://www.linkedin.com/in/jincho25/" > Jin Cho,</a> 
              <a href = "https://www.linkedin.com/in/erichliang/" > Eric Liang,</a> 
              Kimmy Nguyen at LAHVIII</p>
          </footer>
        </div>
      </body>
</html>
