<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
  <title>Events</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{% static 'eventsDesign.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
    
  <!-- <link rel="icon" href="favicon.png"> -->
        
        <div class="bar">
            <div class="logo">
                <!-- Replace 'logo.png' with the path to your logo -->
                <a href="/eureka/"><img src="{% static 'EUREKA!.png' %}" alt="Logo" style="height: 70px;"></a>
            </div>
            <ul class="menu">
              <li><a href="/about">About</a></li>
                <li><a href="/events">Find Eurekas</a></li>
                <li><a href="/pets">Pets</a></li>
                <li><a href="/friends">Friends</a></li>
                <div>
                  <a href="/login"><img src="{% static 'pfp.png' %}" style="height:30px; border-radius:50%" ></a>
                </div>
            </ul>
        </div>
      </head>
      <body>

        <div class="class">
        <div class="map" id="map" style=" height: 200px; width: 400px;"></div>
        <!-- <script src="{% static 'map.js' %}"></script> -->
      </div>    
        <script type="text/javascript"> 
            // gets current position
            var position = navigator.geolocation.getCurrentPosition(showPosition); 

            // inits map with current position of user
            function showPosition(pos) {
                var map = L.map('map').setView([pos.coords.latitude,pos.coords.longitude], 13);
                // adds tile layer using open street map 
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                console.log("{{eureka_elms|escapejs}}");
              var data = JSON.parse("{{eureka_elms|escapejs}}"); 
              console.log(data);
              const markers = []; 
              for (let i = 0; i < 1; i++) {
                markers[i] = L.marker([data[i].latitude,data[i].longitude]).addTo(map);
              }
              console.log(markers);

              }


              // adds a marker
            // TODOS: highlight the specific marker the user is hovering over + 
            // have an onclick thing 
            // have an onclick thing 


            //   var marker = L.marker([51.5, -0.09]).addTo(map);
              </script>


        <div class="calendar">
            <!--<h2>Calendar:</h2>
            <p>
                <calendar style="width:100%">
                    {% for x in eureka_dict %}
                    
                    <p>{{x.activity_name }} @  {{x.location_name}} ({{x.maps_link}}) </p>
                    {%endfor%}-->
                    <div class="table"> 
                        <h2> Eurekas Near You: </h2>
                            <table style="width:100%">
                                <tr>
                                  <th style="width:20%">Name</th>
                                  <th style="width:20%">Distance</th>
                                  <th style="width:20%">Type of Eureka</th>
                                  <th style="width:20%">Start time</th>
                                  <th style="width:20%">End time</th>
                                </tr>
                                <tr>
                                  <td>name #1</td>
                                  <td>distance #1</td>
                                  <td>type #1</td>
                                  <td>start time #1</td>
                                  <td>end time #1</td>
                                </tr>
                                <tr>
                                  <td>name #2</td>
                                  <td>distance #2</td>
                                  <td>type #2</td>
                                  <td>start time #2</td>
                                  <td>end time #2</td>
                                </tr>
                                <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                                  <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                                  <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                                  <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                                  <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                                  <tr>
                                    <td>name #2</td>
                                    <td>distance #2</td>
                                    <td>type #2</td>
                                    <td>start time #2</td>
                                    <td>end time #2</td>
                                  </tr>
                              </table>
                        </p>
                    </div>
        
        
                </calendar>

                
            </p>
            <div>
                <h2> At an event? <a href=""> Click here </a> </h2>
                
            </div>
        </div>
        
      </body>
</html>
