<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
  <title>Events</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
        <link rel="stylesheet" href="eventsDesign.css">
        <div class="bar">
            <div class="logo">
                <!-- Replace 'logo.png' with the path to your logo -->
                <a href="eureka.html"><img src="EUREKA!.png" alt="Logo" style="height: 70px;"></a>
            </div>
            <ul class="menu">
                <li><a href="events.html">Find Eurekas</a></li>
                <li><a href="pets.html">Pets</a></li>
                <li><a href="#">Friends</a></li>
            </ul>
        </div>
      </head>
      <body>
        <div class="eventTitle">
            <h1> Events </h1>
        </div>
        <div class="map">
            <h2>Map:</h2>
            <p>
                <map style="width:100%">
                </map>
            </p>
        </div>
        <div class="calendar">
            <h2>Calendar:</h2>
            <p>
                <calendar style="width:100%">
                </calendar>
            </p>
        </div>
        <div class="post">
            <h2>Post an event:</h2>
            <p>
                <post style="width:100%">
                </post>
            </p>
        </div>
      </body>
</html>
