<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>
</head>
<style>
  div {
      width: 500px;
      height: 400px;
      border: 2px solid black;
      position: relative;
  }

  video {
      width: 500px;
      height: 400px;
      object-fit: cover;
  }
</style>

<body>
<!-- <script>
  navigator.mediaDevices.getUserMedia({video: true})
</script> -->

<div>
  <video id="vid"></video>
</div>
<br />
<button id="but" autoplay>
  Open WebCam
</button>
<button id="capture">
  Capture EUREKA! (´•×•)⊃━☆
</button>
</body>
<script>
document.addEventListener("DOMContentLoaded", () => {
  let but = document.getElementById("but");
  let video = document.getElementById("vid");
  let mediaDevices = navigator.mediaDevices;
  vid.muted = true;
  but.addEventListener("click", () => {

      // Accessing the user camera and video.
      mediaDevices
          .getUserMedia({
              video: true,
              audio: true,
          })
          .then((stream) => {
              // Changing the source of video to current stream.
              video.srcObject = stream;
              video.addEventListener("loadedmetadata", () => {
                  video.play();
              });
          })
          .catch(alert);
  });
});
</script>
  
</body>
</html>