h2 {
    font-family: Georgia;
}

p {
    font-size: 20px;
}



.top {
    background-color: lightblue;
    border-radius: 25px;
    padding-left: 11px;
    padding-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}

a {
    font-size: 18px;
    
}

.class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5%;
}

.dash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.table {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 50%;
}

.pets {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 35%;
}

table, th, td {
    justify-content: center;
    font-size: 20px;
        border: 1px solid black;
        border-collapse: collapse;
}

.friends {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 50%;
}

.leader {
    background-color: lightblue;
    border-radius: 25px;
    margin: 2%;
    padding: 11px;
    width: 35%;
}
